[2015-02-03 09:34] Konfekt opened #2 "comparison to restore_view"
Hello Martin,

Thanks for the plugin.

Could you explain the errors you found in restore_view's heuristics which buffer views to save and restore?

For example, `restore_view` excludes all non-modifiable buffers wheras `vim-stay` seems to include them but explicitely disables `netrw` buffers.

It makes me wonder if non-modifiable buffers  happen to be file buffers?

[2015-02-03 11:01] kopischke commented on #2
Hey, thanks for asking. I’ll try to explain:
1. _vim-stay_’s heuristics do not exclude `nomodifiable` buffers because that is just a setting (see `:h modifiable`) that can indeed be applied to any file buffer. Even allowing for the assumption that it is never arbitrarily set, the fact a file is locked, read-only or otherwise non-modifiable does not imply the user does not care for its view state (

[2015-02-03 16:01] Konfekt commented on #2
All of them are good points, good to be aware of Point 3. in particular.

Regarding Point 1., excluding nonmodifiable buffers may sometimes throw out the baby with the bathwater but, as a drawback, cf. Point 2., now buffers such as those by netrw have to be excluded by hand.

In conclusion, the exclusion rules of restore_view.vim are coarser and in corner cases even incorrect but perhaps an accept

[2015-02-03 16:34] kopischke commented on #2
Actually, most plug-ins creating non-file buffers I have seen correctly mark their buffer as a non-empty `buftype` or set it up for wiping on hide, both cases _vim-stay_’s heuristics catch. _Netrw_ is the one notable exception I am aware of (but if you find others that pass both the `buftype` and `bufhidden` check, I’ll gladly hear about them).

You are of course right that a blacklist based appro

[2015-02-03 17:04] kopischke commented on #2
@Konfekt BTW (related, but still somewhat OT): I like your FastFold plug-in. Let me know what I can do to make integration with _vim-stay_ happen.

[2015-02-04 08:27] Konfekt commented on #2
Ah, Danke für die Blumen.

Regarding compatability with FastFold, vim-stay must be loaded after FastFold so that `mkview` in vim-stay's `BufWinLeave` and `BufWinEnter` autocmds  saves the syntax or expression foldmethod and not the manual foldmethod FastFold artificially imposes.

The `BufLeave` autocmd is curious as it seems accounted for by the `BufWinLeave` autocmd ?!  If `vim-stay` only used t

[2015-02-04 08:33] Konfekt commented on #2
By the way, `FastFold` uses a variant of the `MakeViewCheck()` function of restore_view.vim to exclude non-modifiable buffers and alike (https://github.com/Konfekt/FastFold/blob/master/plugin/fastfold.vim#L170).

How about replacing it by the `ispersistent()` function of yours at https://github.com/kopischke/vim-stay/blob/master/autoload/stay.vim#L9 ? Any adaptions to be made?

EDIT: It's already

[2015-02-04 08:34] senft opened #3 "vim-stay changes foldmethod"
Hi,
I tried to use vim-stay to restore my folds, but apparently it changes the `foldmethod` to `diff`. I usually use `foldmethod=syntax`. Is there any way to keep my foldmethod?
thanks!

[2015-02-04 08:47] Konfekt opened #4 "Amalgam of restore_view and vim-stay"
So after our discussion I amalgated both persistency check functions of vim-stay and restore_view . I leave it here for reference. Maybe a persistency check by the file name can be made an option in `vim-stay` but I understood that this is impossible on philosophical grounds. Here it is:
[code]

[2015-02-04 08:48] #4 closed

[2015-02-04 10:03] kopischke commented on #3
That is rather unexpected: _vim-stay_ never touches the `foldmethod`, and Vim’s view session mechanism only stores manual fold state (if “folds” is in `viewoptions`, which is the default). What is the output of

[code]

[2015-02-04 10:07] kopischke opened #5 "Integrate with FastFold"
[FastFold](https://github.com/Konfekt/FastFold) by @Konfekt leverages the same events as *vim-stay*:

The problem is that when quitting a window, `BufWinLeave` sometimes fires after the window has been destroyed (the window number returned by `getbufwinnr(bufnr)` is -1 – see `:h BufWinLeave`, which warns of this, albeit a bit cryptically), which makes view creation impossible (`:mkview` needs a va

[2015-02-04 10:08] kopischke commented on #5
I’m not sure I can fully solve that on my end. One thing I can think of which could work, provided me and @Konfekt both change a few things:
1. refactor _vim-stay_ to trigger view creation on a User autocommand (say `BufViewLeave`), with the current autocommands triggering this event instead of saving the view directly – that would be my end;
2. have _FastFold_ do `silent doautocmd User BufViewLea

[2015-02-04 10:12] kopischke commented on #2
Nice, tho I’d suggest you remove [the check for `b:stay_ignore`](https://github.com/kopischke/vim-stay/blob/master/autoload/stay.vim#L11) to decouple your function from _vim-stay_; you could insert your own “ignore” variable here, of course. Also, I think that (unlike _vim-stay_) you can safely ignore `nomodifiable`files – after all, the issue _FastFold_ addresses only is present when editing file

[2015-02-04 11:20] Konfekt commented on #2
Hoppla, thanks for pointing out that obnoxious line.  Fixed.

The nonmodifiable part was already taken account of in https://github.com/Konfekt/FastFold/blob/master/plugin/fastfold.vim#L171

[2015-02-04 11:31] kopischke commented on #2
I see, missed that. I think this can be considered closed, then. Weiter bei #5?

[2015-02-04 11:31] Konfekt commented on #2
Jo.

[2015-02-04 11:37] Konfekt commented on #5
Ok, sounds like a fine suggestion. As the only con is what's already status quo. So things can only get better.

So pasting `silent doautocmd User BufViewLeave` after `s:Leave() |` at
https://github.com/Konfekt/FastFold/blob/master/plugin/fastfold.vim#L214 and there we go?

Feel free to provide a pull request if it's more intricate than that, most easily discussed that way.

[2015-02-04 11:39] kopischke commented on #5
I’ve got something slightly more intricate in the works. Branch should be ready in half an hour at most, will let you know.

[2015-02-04 12:05] kopischke commented on #5
OK, I’ve rustled up something like an extensible, generic extension API for _vim-stay_, with _FastFold_ integration as the first (and right now only) implementation. Care to take a look at (and maybe play around with) the [fastfold-integration](https://github.com/kopischke/vim-stay/tree/fastfold-integration) branch? No docs yet, I’ll add that if the scheme pans out.

[2015-02-04 17:17] Konfekt commented on #5
Ok, looks fine. And as if no change on my end is any longer needed?

The only worry is that it depends on FastFold variables actually hidden to the user, so hopefully they will never change.

Perhaps I should document them as a reminder.

[2015-02-04 17:50] kopischke commented on #5
If you can see your way to APIfying your variables (i.e. documenting them **and** guaranteeing they will be present, named and functioning like they are currently in the future, barring major version changes in _FastFold_), yup, you can safely leave integration to me. Or you could pull in `autoload/stay/integrate/fastfold.vim` (with that exact directory path) into _FastFold_, to the same effect –

[2015-02-04 20:49] Konfekt commented on #5
Alright, as FastFold is a dead-simple plugin, I opted for option 1: You find

https://github.com/Konfekt/FastFold/commit/15f55bcf50d24c85a6f79440e29d91f4c9ae5159

and its improvement

https://github.com/Konfekt/FastFold/commit/38c66f476ca878f71e77519ca7744e9774d0422b

that document the w:lastfdm variable. The `b:lastfdm` variable is a crutch for guessing `w:lastfdm`.

[2015-02-04 21:03] kopischke commented on #5
Cool, I’ll merge the branch tomorrow and make _FastFold_ support official. One last question: should I [ignore `b:lastfdm` and only query the window-local variable](https://github.com/kopischke/vim-stay/blob/fastfold-integration/autoload/stay/integrate/fastfold.vim#L29)?

[2015-02-04 21:26] Konfekt commented on #5
Yeah, I saw that line and therefore commented on it. Can be safely ignored: By the time `FastFold` changes the foldmethod, always the window local version is used. The b:lastfdm stores the `w:lastfdm` of the same buffer that may be displayed in another window or tab; it is only one of many sources for guessing `w:lastfdm`.

[2015-02-05 14:59] kopischke commented on #3
Ping @senft.

[2015-02-06 13:18] kopischke opened #6 "Plug-in initialisation failure with Vim version < 7.4.279"
[code]

This is due to  `globpath()` [not supporting the fourth argument requesting List output before 7.4.279](http://ftp.vim.org/pub/vim/patches/7.4/README). Reported by Thomas Sattler via email.

[2015-02-06 13:34] #6 closed

[2015-02-07 10:24] kopischke commented on #2
Heuristics have been tweaked in [release 1.1.1](https://github.com/kopischke/vim-stay/releases/tag/v1.1.1), removing the need to list “netrw” among volatile file types. Generally speaking, there should be no need to list anything but _bona fide_ file types that are transient by nature in `g:volatile_ftypes`, ever (_covering-my-ass-caveat_: grossly misbehaving plug-ins and hacks excepted  – holler

[2015-02-07 14:14] Konfekt commented on #2
Thanks for the heads-up, passed that on to FastFold.

[2015-02-09 08:22] senft commented on #3
Ah, I am sorry. The error was caused by "old" view files from before using vim-stay. I deleted those and everything works fine now.

Although I now get this error when I start vim:

[code]

[2015-02-09 10:06] kopischke commented on #3
Glad to hear it is solved; the next release will contain some extra documentation about `viewoptions` and possible trouble using them.

The error is … correct: there is a duplicate help tag in the docs, will be fixed in the next release too. I’ve put that one up in a new issue (#7), closing this one.

[2015-02-09 10:09] kopischke opened #7 "Duplicate help tag"
Pathogen error when starting Vim:

    Error detected while processing function pathogen#helptags:
    line    4:
    E154: Duplicate tag "BufStayLoadPost" in file /home/jln/.vim/bundle/vim-stay/doc/vim-stay.txt
    Press ENTER or type command to continue

Reported by @senft in a comment to #3.

[2015-02-09 10:09] #3 closed

[2015-02-11 08:35] kopischke opened #8 "Add command to clear 'viewdir' [RFC]"
Views sessions stored before changing `viewoptions` can lead to confusing misbehaviour like that seen in #3. Possible solution:

- add a `ClearViewDir` command
- maybe also add a `SetViewOptions` command calling the above when changing `viewoptions`

Ideas and comments welcome!

[2015-02-16 13:40] Konfekt opened #9 "outsource persistency check"
Hello,

I noticed that the persistency check is quite utile. So much that I put it in a separate file at

https://github.com/Konfekt/FastFold/blob/master/ftdetect/persistent.vim

How about checking for the same `b:isPersistent` variable in both plugins.

I realize that for your plugin, I got to tear that check apart though into a separate `persistent` and `temp.vim` ?!

[2015-02-16 13:40] #9 closed

[2015-02-16 15:54] kopischke commented on #9
Nice to see you can get so much milage out of _vim-stay_’s heuristics :). Note that you will be able to drop the last remnants of _restore_view_’s checks once release 1.2.0 is out, as I have added both an early check for an empty buffer name and a temp file check based on Vim’s `backupskip` option (there even is a new `stay#istemp()` function – so no worries about tearing stuff apart ;)).

As to `

[2015-02-16 16:49] Konfekt commented on #9
That's true, `b:isPersistent`'s whole point is that it's a cache. My idea was that FastFold could spare this check if loaded after vim-stay, if vim-stay just used the same variable name. How about that? Vim-stay's `b:isPersistent` will of course respect `b:stay_ignore`, and FastFold `b:isPersistent`.

Now every plugin that uses these persistency checks, can resort to`b:isPersistent`. The actual pl

[2015-02-16 17:45] kopischke commented on #9
Ah, I see what you are aiming at. Hmm, as I said, I don’t actually think persistence is a static buffer property, so I’m not sure I would want to cache _vim-stay_’s test result, or read a cached one for that matter. I was going to suggest you piggy-back on the `BufStay*Post` user events, but these can be triggered by direct calls of `stay#view#load()` and `stay#view#save()`, independently of the a

[2015-02-17 07:42] Konfekt commented on #9
Yeah, I overread that concern of yours but come back chastened. But, as you suggest, the `BufStayPost` event should catch all relevant persistency changes?! See

https://github.com/Konfekt/FastFold/blob/master/ftdetect/persistent.vim#L1

This said, and having seen http://vimrcfu.com/snippet/46 , I wonder why this autocmd event is not in all ftdetect files by default?!

[2015-02-17 08:00] kopischke commented on #9
Good to know; having slept over it, I concur the `BufStay*Post` events are your best bet. I first thought that the fact they can be triggered by direct calls to the `stay#view#*()` functions would diminish their utility in that regard, but loading and saving views is actually a pretty good indicator the user considers a buffer persistent :). So

[code]

should cover the offloading. I can add that

[2015-02-17 09:33] Konfekt commented on #9
Hmm.. I am reluctant because now the dependencies go back and forth between vim-stay and FastFold, because FastFold must check if vim-stay is loaded (by the existence of the BufStayLoadPost events -- How to do that?!).

I think the idea of a universal persistency variable is sound, but `b:isPersistent` should be set by Vim itself. Perhaps we should discuss this at vim_dev or file it as an issue at

[2015-02-17 10:18] kopischke commented on #9
True if f you mean for the variable to obviate the need for loading and setting up _FastFold_’s own detection. However, if you aim a bit lower, doing

[code]

will avoid redundant heuristics checks, if not the need for setting them up. It also relieves _FastFold_ from knowing anything about other plug-ins setting the `b:isPersistent` variable.

You also don’t need to check for the existence of _vi

[2015-02-17 16:30] Konfekt commented on #9
Hmm.. I may be missing something, but does `b:isPersistent` not stay unchanged on `BufFilePost` events say with this `autocmd` (granted that `b:isPersistent` was already set on `BufRead`) ?

Ah, perhaps by defining the variable initally (BufRead, BufNewFile) at all if either plugin recognizes it as persistent. Then `FastFold` could not set `b:isPersistent = 0` any longer though, but that probably

[2015-02-17 16:44] kopischke commented on #9
Well, yes, you’d have to separate those autocommands meant to **update** persistence status from those **initializing** it, i.e.

[code]

Yes it can; see above code snippet. That would de-duplicate the initial heuristics, but keep the flexibility to re-assess wherever you feel _FastFold_ should do so. It’s not quite the cross-plug-in persistency status evaluator you were looking for initially (unl

[2015-02-18 13:55] Konfekt commented on #9
Yeah, tearing the Load and Save events apart economizes the double check on the BufRead and BufNewFile Event. That's a smart move I promptly add to FastFold, see https://github.com/Konfekt/FastFold/commit/34742a6eff30417319de41fc79a60c8ef549e8f9. Thanks!

Regarding the BufFilePost, now it occurs to me that the check by `s:persistent` is overkill but instead a buffer is persistent if written to dis

[2015-02-18 13:57] Konfekt commented on #9
By the way, `BufNew` should in theory already redetect the filetype on renames? The Vim help says

[code]

[2015-02-18 14:22] kopischke commented on #9
Actually, `BufNew` detects **all** writes to another file (buffer) name, including those that do not change the current buffer, e.g. `:write another/path/and/name.ext` from `this/path/file.ext`. In the latter case it will match the new buffer name, not the original one, which means you cannot use it to trigger re-evaluation of values in the originating buffer. It’s actually in the help:

`BufFileP

[2015-02-26 03:28] Parakleta commented on #5
I have a problem with this not working when I have multiple buffers/windows open.  If I put some diagnostics in the save_pre and save_post functions I can see that when I run 'zuz' in FastFold the pre and post functions are being called twice on each file (I assume due to the windo Enter and Leave).  I'm not sure if this is correct behaviour just on the 'zuz', but the problem appears to be in the

[2015-02-26 10:08] kopischke commented on #5
Hmm, that’s odd, as the two `BufStaySave\*` events are only separated by the session save command. Could you run the following for me, please?

[code]

and try to trigger the error you described? Once you have done so succesfully, do

[code]

or restart your Vim session and paste the contents of the above `log.txt` file here (unless it is humungous, then I’d prefer you upload it somewhere and just

[2015-02-26 10:15] Konfekt commented on #5
Hmm..., perhaps the issue is that `FastFold` only sets `fdm=manual` if the `fdm` was `syntax` or `expr`. Other foldmethods are computationally little demanding, and so there is no need to artifically impose `fdm=manual`.

[2015-02-26 11:27] Parakleta commented on #5
I won't be able to run the debug for another 12 hours, but I think the issue is that the 'zuz' command cycles through all the windows but only changes the fdm on those that match the current buffer (this behaviour is correct).  By contrast, the save_pre always restores the original mode before saving (which is also correct) but because FoldFast is ignoring some windows the fdm is not restored by F

[2015-02-26 14:02] kopischke commented on #5
Hmm, that seems unlikely. to me: as I said, the only thing happening between the `BufStaySavePre` and `BufStaySavePost` events is the view session creation via `:mkview` ([that is literally the whole code that is there](https://github.com/kopischke/vim-stay/blob/master/autoload/stay/view.vim#L21-L23)), and barring exceptions aborting execution, the events will always fire in tandem.

@Parakleta I’

[2015-02-26 14:44] Konfekt commented on #5
What @Parakleta says seems to nail it, see https://github.com/kopischke/vim-stay/blob/master/autoload/stay/integrate/fastfold.vim#L15 and https://github.com/kopischke/vim-stay/blob/master/autoload/stay/integrate/fastfold.vim#L23.

Supposedly that `BufSave` command is doing harm because `FastFold` cycles through all windows of the current buffer, and also only sets the foldmethod to manual if they

[2015-02-26 20:45] kopischke commented on #5
Hah, I think the issue is much simpler: I stupidly set the [condition for restoring _FastFold_’s enforced manual fold method](https://github.com/kopischke/vim-stay/blob/master/autoload/stay/integrate/fastfold.vim#L22) to always evaluate to false when the folds have been reset to `w:lastfdm` in `BufStaySavePre`. Replacing [Lines 21 and 22 of `stay#integrate#fastfold#save_post()`](https://github.com

[2015-02-26 21:59] Parakleta commented on #5
That works for me.  It's basically the same as what I figured out.  Should the `&foldmethod` be `&l:foldmethod` instead?

I still have an issue with FastFold not setting the mode to manual when first loading a buffer but I think this is unrelated, so I'll keep digging for that.

ETA: Nevermind, I was loading the plugins in the wrong order.  I wonder if there is a way to make it not order-dependent

[2015-02-26 23:18] kopischke commented on #5
It’s **exactly** what you figured out originally, actually :). The whole ensuing thread about duplicated events, cycling windows  and _FastFold_ restoring stuff just obfuscated that for me. Sorry for being slow, and for introducing the bug, of course – will fix in next release.

`&setting` gets the actual setting; local if set locally, global if not, while `&l:setting` gets you nothing when the se

[2015-02-26 23:49] Parakleta commented on #5
That change has the effect of resetting the fdm to the default setting rather than the view setting.  FastFold's `lastfdm` is set to the default value that prevailed before the view was loaded (by its `BufWinEnter` firing before `loadview`) and then save_post is restoring that value rather than the post-view value.

I think you could `doautocmd FastFold BufWinEnter` if `g:loaded_fastfold` after lo

[2015-02-27 00:15] kopischke commented on #5
It should set it to manual; I thought the problem was

and that should fix it as far as interference from loading a _vim-stay_ view is concerned,  provided you have patched `save_post()` [as described above](https://github.com/kopischke/vim-stay/issues/5#issuecomment-76268180).

[2015-02-27 00:28] Parakleta commented on #5
Sorry, I wasn't very clear in my description.  I skipped a bit.

The change you have proposed does leave the `l:foldmethod` set to manual correctly, the issue is that FastFold never gets to see the `loadview` fdm value, and so its `lastfdm` value holds the default value.  Basically `save_post()` is wiping out the `loadview` fdm value before FastFold has a chance to cache it.

[2015-02-27 07:10] kopischke commented on #5
Ah, now I understand – you’re right of course, the view session can load a different `foldmethod`. That seems easily solvable, tho, by calling a dedicated `load_post()` instead of `save_post()` in the `BufStayLoadPost` autocommand, which would issue a `FastFoldUpdate` command.

[2015-02-27 07:20] Parakleta commented on #5
Yes of course, `FastFoldUpdate` does exactly what is needed here.  I'm about to sign off for the weekend, I'll have another fiddle and do some more testing on Monday.

[2015-02-27 07:49] kopischke commented on #5
@Parakleta I’ll do the fiddling, you do the testing :). Check this thread on Monday.

@Konfekt any furthers thoughts?

[2015-02-27 13:50] Konfekt commented on #5
I am a bit lost. Regarding

one should note that there is also a `SessionPost` autocmd event fired by every `loadview` (there is `do autocmd SessionPost` in every view file) that resets `fdm` to manual.

@Parakleta, what exactly goes wrong with the proposed solution at https://github.com/kopischke/vim-stay/issues/5#issuecomment-72935831 ?

[2015-02-27 15:47] kopischke commented on #5
Good call – the root cause of the load issue is that _vim-stay_ suppresses all autocommands when loading a session as I found it significantly slows down buffer window entering, even on a fast machine and when there are no autocommands listening to `SessionLoadPost`. That is fine for the occasional manual load, but it’s a deal breaker for a plug-in that does load sessions as often as _vim-stay_.

[2015-02-27 15:55] kopischke commented on #5
@Parakleta could you give [the preliminary 1.2 branch](https://github.com/kopischke/vim-stay/tree/release-1.2.0) a whirl?

[2015-03-03 00:09] Parakleta commented on #5
I cannot make it misbehave now, seems all good.  Thanks.

[2015-03-03 07:40] kopischke commented on #5
@Konfekt any comments before I release this?

[2015-03-03 11:04] senft commented on #7
What can I do to fix this until you release 1.2.0?

[2015-03-03 14:32] kopischke commented on #7
You could cherry-pick https://github.com/kopischke/vim-stay/commit/b7746fc4482f7d62cebe3cb69c6c99586fd57a1e, or you could wait until tomorrow, when I release 1.2 – sorry for not doing a bug fix release sooner, I didn’t expect 1.2 to take so long.

[2015-03-03 16:14] Konfekt commented on #5
Hmm.. Works fine when thr user uses syntax or expression folding, but in fact FastFold does not enter at all for other foldmethods. So resetting the fold method to thr previous one on the Post event is more compliant..

[2015-03-03 16:27] kopischke commented on #5
Not sure if I follow  your meaning. Are we talking about `BufStaySavePost` here?

[2015-03-03 18:12] Konfekt commented on #5
Yep, but I was mistaken. In that case the lastfdm is not Set. So I think it's Alright.

[2015-03-03 18:46] kopischke commented on #5
_vim-stay_ never touches the fold method unless `w:lastfdm` is set, so I guess this is not an issue solvable on my end (if it is one at all?). Will release tomorrow, then.

[2015-03-03 19:19] Konfekt commented on #5
Yep, looks good. I think FastFold never creates lastfdm if it doesn't touch anything.

[2015-03-03 19:33] kopischke commented on #5
Good to know, thanks :), For the purpose of this integration module, I am going to assume that the state of `w:lastfdm` is consistently well defined (i.e. it is always set to the last user defined fold method when _FastFold_ is active, and unset when it is not). That is its API contract, right?

[2015-03-03 22:25] Konfekt commented on #5
I pushed a commit that ensures this. Hopefully this does not break anything else.

Is all of this going to be reflected in your pull request as well? I will think about it when I've more leisure.

[2015-03-04 06:51] kopischke commented on #5
I’ll update it to reflect the changes, then.

[2015-03-04 08:13] senft commented on #7
Alright, thanks! :+1:

[2015-03-04 10:50] #5 closed

[2015-03-04 10:50] #7 closed

[2015-03-04 10:50] #8 closed

[2015-03-04 11:26] kopischke commented on #7
@senft 1.2 is up on the [releases page](https://github.com/kopischke/vim-stay/releases/tag/v1.2.0).

[2015-03-04 11:28] kopischke commented on #2
@Konfekt heuristics now include [known temp directory checking](https://github.com/kopischke/vim-stay/blob/master/autoload/stay.vim#L34-L40) based on Vim’s `backupskip` option as of [release 1.2](https://github.com/kopischke/vim-stay/releases/tag/v1.2.0). Might want to check it out :).

[2015-03-05 19:09] Konfekt commented on #2
Thanks! However, that's quite a beast for something that could look file

[code]

if `&backupskip` wouldn't use a file pattern instead of regex pattern. Is there perhaps not a single function to convert between these?

[2015-03-05 20:39] kopischke commented on #2
[code]

no, wait, that doesn’t account for env vars, so

[code]

actually, that needs to be anchored, so

[code]

– can’t say I find that much easier :).

[2015-03-06 09:51] Konfekt commented on #2
Yeah,  and on top for example \* becomes .*...

If it's not in Vim it'll be quite some work. For example, the netrw#gitignore function tries to achieve the same and is a lot of code.

[2015-03-06 16:27] kopischke commented on #2
that‘s why there is an `expand()` call in there which also resolves the globs, but thanks for reminding me that produces multiple paths, so:

[code]

and you’d also need to shim `expand()` because it doesn’t support List output before Vim 7.3.465. Now I **am** sure my way is easier :).

[2015-03-06 17:16] Konfekt commented on #2
Ok. I asked at https://groups.google.com/forum/m/#!topic/vim_use/NXFksN223bc if there is something already in Vim as a last resort.

If not, the feature that FastFold skips temp files is sufficiently debatable that I'd leave it at check for the default value of `&backupskip`.

[2015-03-12 14:21] Konfekt commented on #2
Hey, there's already a function in Vim that does this conversion and they are asking about the utility of making it available in Vimscript, perhaps you can think of other use cases than that which brought about the post at https://groups.google.com/forum/#!msg/vim_use/NXFksN223bc/vQG471egTkMJ

[2015-03-12 14:33] kopischke commented on #2
Interesting, and hats off to you for the effort. This being said, I can’t think of any use cases that make it preferable to _vim-stay_’s current approach. Even if you manage to get Bram to accept a patch, I’m not sure I would want to use that function, as it would not be backwards compatible with 99,9999 % of all Vim installations in existence for quite a while … never mind that it would land in 5

[2015-03-19 11:47] rafi opened #10 "Avoid saving `lcd`"
How could I make vim-stay avoid saving `lcd` variable?
Reading the doc, seems the _Autocommand API_ might be a good direction,
but I'm not sure how to work it out. Could you help? :)

[2015-03-19 17:46] kopischke commented on #10
As [documented in the help](https://github.com/kopischke/vim-stay/blob/master/doc/vim-stay.txt#L164-L169), the persistent local working directory is a side effect of how Vim’s view sessions work. If you have a version of Vim recent enough to support `haslocaldir()`, you can indeed work around that using _vim-stay_’s autocommand API. One way would be to temporarily suppress the local working direct

[2015-03-21 10:23] rafi commented on #10
Works like a charm so far, thank you for the complete solution!

[2015-03-21 10:56] kopischke commented on #10
Good to hear that. One important caveat: currently, the `BufStay*Post` events do not fire when errors occur while saving / loading views; the above hack thus will leave you with your current local working directory unset in such a case (I’m thinking about changing this behaviour as the Pre / Post event pairs are also used in the integration modules to handle third party state).

[2015-03-21 10:56] #10 closed

[2015-03-21 11:05] kopischke commented on #10
PS: I’d be interested in knowing why you prefer to suppress local working directory persistence. Would you care to elucidate?

[2015-03-21 15:27] rafi commented on #10
When dealing with multiple projects, I like designating each project a tab and change each tab's `lcd` to its project's directory. I want to suppress `lcd`'s persistency because:
1. I don't like the thought of my `lcd` changing without my knowledge, unless I do it manually.
2. Somehow together with [xolox/vim-session](https://github.com/xolox/vim-session) I experienced wrongfully mixed `lcd` value

[2015-03-21 17:38] kopischke commented on #10
Point 1 is a valid concern – I find  the local working directory restoration a bit disorienting myself at times, which is why I have toyed with remedies. Unluckily, all of these are gross hacks of the kind I showed above, thanks to Vim’s geriatrically demented `cwd` handling.

Point 2 is one where I’d been remiss not to warn you that _vim-session_ is not entirely without problems of its own; in it

[2015-03-21 17:47] rafi commented on #10
Thanks for all this viable information. About _xolox/vim-session_ - it's been acting pretty good for me. I've also ported Shougo's session unite source to use _vim-session_. Out of curiousity - what session persistency alternative are you using now?

[2015-03-21 18:12] kopischke commented on #10
None, really: per project tabs with a tab scoped working directory courtesy of [my fork of Kana’s _vim-tabpagecd_](https://github.com/kopischke/vim-tabpagecd), _vim-stay_ for file level persistence, but mostly simply leaving my MacVim instance running all the time suffice to my needs :).

[2015-03-24 16:06] Konfekt commented on #2
Somehow `glob2regexp()` bypassed the todo list and is already alive and kicking since `7.4.668`: https://groups.google.com/forum/#!msg/vim_use/NXFksN223bc/C74OfWY9wYsJ

[2015-03-25 15:13] kopischke commented on #2
Nice. Thanks for the heads up (though, as I said, I am not going to use this any time soon in a plug-in).

[2015-03-31 17:30] kopischke commented on #2
@Konfekt [I’ve refactored `stay#istemp()`](https://github.com/kopischke/vim-stay/blob/master/autoload/stay.vim#L37-L63) to be zippier. The result is faster by about factor 100 in my tests – and even faster when `glob2regpat()` is available, which really surprised me. I’ll retract my announcement about not using it, though it will have to be an optional variant for the foreseeable future.

[2015-04-01 08:59] Konfekt commented on #2
Clever idea to filter by `wildignore`. I put its implementations on FastFold's todo list.

One advantage of having made `glob2repat` public is that its bugs now lie bare. For example over here it would not replace `,` by `\|`.

[2015-04-01 09:33] kopischke commented on #2
I’m pretty pleased with the performance myself, though I am also sure I will run into an edge case where that hack will fail spectacularly at some point :).

If you mean the comma separating several globs in options like `path`, I’d surmise this is by design; after all, these are technically several globs, not one. `split`ting and `map`ping should take care of that.

[2015-04-01 16:21] Konfekt commented on #2
Ok, I see that `split(&backupskip, '\m[^\\]\%(\\\\\)*,')` takes care of that.

A question: My naive try would have been `split(&backupskip, ',')`. Why is `[^\\]\%(\\\\\)*` necessary ?

[2015-04-01 17:09] kopischke commented on #2
Weil, `\,` is an escaped comma, i.e. one that is part of the glob, but `\\,` is a trailing backslash, of which there can be any number, and everything needs to be doubled to be a literal backslash in a regex pattern (well, a single quoted one: you would need a quadruple backslash inside double quotes – fun, eh?). I may be overthinking what probably is a pretty rare edge case, of course :).

**Edit

[2015-07-29 12:13] sergei-dyshel opened #11 "Prevent changing directory when restoring view."
According to my observations and [Vim's help](http://vimdoc.sourceforge.net/htmldoc/starting.html#:mkview) `mkview` always adds `lcd ...` command to created file. This can lead to unexpected current directory changes when same file is opened in different "sessions" (projects etc.)
A possible workaround would be to remove `lcd` line from the generated script.

[2015-07-29 14:03] kopischke commented on #11
Ah, yes, the `lcd` issue. Actually, it’s a known quirk of `:mkview` I documented in [the plugin help](https://github.com/kopischke/vim-stay/blob/master/doc/vim-stay.txt)’s <strike>FAQ</strike>Troubleshooting section. The maddening thing about it is that it is both inconsistent (according to the Vim help, it should only store actually set local working directories, but that  seems to be wishful thi

[2015-09-27 17:08] Konfekt opened #12 "fastfold integration"
Here's an edge case:

Suppose you open a file with `fdm=syntax`, but then issue ":set fdm=marker". Then after `:bd %`, still `w:lastfdm=syntax`. Only if an additional trigger, like saving, fold movements, or `zuz` is issued, the `fdm` is correctly restored to `marker`.

I guess `w:lastfdm` should only be saved instead of `&l:fdm` if the latter is `manual`, to exclude the case that the user manuall

[2015-10-12 11:53] blueyed opened #13 "Handling of reloading through ":checktime""
When a buffer is open in multiple windows (across multiple tabs), and the file gets changed from outside, calling `:checktime` and reloading the file will not keep the cursor position in the non-current window - it will move to the first line.

Is there anything vim-stay could do about this?

[2015-10-13 19:45] kopischke commented on #13
If there is a suitable autocommand triggered for the reload, this should be easy to implement. I’ll see what I can do.

[2015-10-13 19:47] kopischke commented on #12
I’ll look into that as soon as I have some time to dedicate to _vim-stay_.

[2015-10-13 19:52] kopischke commented on #11
Until I get around to this, you might be interested in the workaround I suggested in #10 .

[2015-10-13 20:30] Konfekt commented on #12
Ok, that's what FastFold does in any case: Check if the current fold method is manual, and only then override it by `w:lastfdm`.

[2015-10-20 12:02] blueyed opened #14 "Errors from mkview with view files written through "sudo vim""
If `sudo vim` has been used initially for a file (where the view file gets created), you will end up with files that are owned by root.

When editing it without `sudo` later, the following error happens (through the call  to `mkview`):

[code]

It might be feasible to skip creation of views (calling `:mkview`) in case there is no view file already (and therefore a new one would be created).  But I

[2015-10-20 14:36] kopischke commented on #14
Thanks for bringing this to my attention. I am not sure simply skipping view session creation for `sudo` users is the right way to deal with this, however – or if there even is one. My thinking goes something like this:
- at the root (forgive the pun) this is an issue with Vim’s half hearted approach to view session file management. View session files inside a common `&viewdir` are not disambiguat

[2015-10-20 17:45] kopischke commented on #13
@blueyed as a quick test, could you try modifying [line 66 of the plugin file](https://github.com/kopischke/vim-stay/blob/master/plugin/stay.vim#L66) by adding _FileChangedShellPost_ to the event list and report back if that handles `:checktime`?

[2015-10-29 21:33] blueyed commented on #14
See https://github.com/kopischke/vim-stay/pull/16 - for now it seems to be a good idea to catch it and turn it into a warning.

[2015-10-31 20:33] sergei-dyshel commented on #11
Thanks! This is much better than the workaround that I've been using - save _cwd_ on Vim start and _cd_ to it on each file opening.

[2015-11-21 08:17] Konfekt opened #17 "sessionoptions"
it cost me a while to realize that `mksession` also saves folds. With vim-stay that's doubled functionality. So how about proposing

[code]

in the readme and doc?

[2015-11-21 08:18] Konfekt commented on #17
Maybe even default to it.

[2015-12-11 09:38] kopischke commented on #12
I assume that after https://github.com/Konfekt/FastFold/commit/cae63341cd705660f80d10d78fc012550177cf80, this should be based on `b:lastfdm`, not `w:lastfdm`?

[2015-12-11 15:06] Konfekt commented on #12
Yeah, lots of pushes these days. FastFold now works better assuming `fdm` being buffer local, but does so by making `w:lastfdm` equalling `b:lastfdm`. However, `w:lastfdm` is always updated first, so  `w:lastfdm` is still the more accurate option.

[2015-12-15 15:52] kopischke commented on #17
Not too sure about this. Sessions and views have different scopes, which is why they exist and their defaults overlap. Could you expand on your reasoning?

[2015-12-15 18:15] Konfekt commented on #17
True, I use sessions only to conserve the latest state of my current work session, whose folds are already saved by `vim-stay`. But others might want to save folds of an older state.

[2015-12-15 18:15] #17 closed

[2015-12-16 21:54] Konfekt opened #18 "Avoid doubling on Session Load"
When loading a session, a SessionLoad variable is defined. Vim-Stay, if sessionoptions includes folds and cursorposition, should check for the existence of this variable and skip restore view, as restore session already takes care of everything.

[2015-12-17 01:01] kopischke commented on #18
Interesting catch. However, I’m wondering if sessions, views and _stay_’s handling of the latter actually ever collide. Unless I am missing something, the only way I can see them doing so is if buffers loaded via a session trigger `BufWinEnter`. Do they?

[2015-12-17 10:49] amerlyq opened #19 "getbufvar signature incompatible with vim < v7.4"
[code]

[code]

[2015-12-17 11:01] kopischke commented on #19
Ugh, yes, welcome to the wonderful world of shifting VimL method signatures and their even more wonderful documentation. As I don’t have a version of Vim behaving like that (that is one old Vim version you are running there alright :)), could you tell me what happens when you call `getbufvar()` with the name of a non-existing buffer variable?

[2015-12-17 11:13] amerlyq commented on #19
I would liked to be able to discard that old vim too, but that damn ubuntu 12 in work's chroot...;)
I think you mean `getbufvar` and not what your asked.

[code]

Old help:

[code]

[2015-12-17 11:26] kopischke commented on #19
Year, right, `getbufvar()` was what I meant. Good news is the behaviour is unchanged in 7.4, so this should be easily fixable by ditching the default return value altogether. However, I would like to be sure this is the only incompatibility with an old Vim version: could you try deleting the third argument in the problematic line and report if _stay_ runs fine after that? If not, I might as well f

[2015-12-17 11:35] amerlyq commented on #19
Yes, all works. Seems like removing `, 0` on :23: didn't break anything.

[2015-12-17 12:14] kopischke commented on #19
Well, it shouldn’t. I was more worried about some further incompatibilities – good to know there doesn’t seem to be any. Thanks for reporting and testing!

[2015-12-17 12:43] Konfekt commented on #18
Over here they do; the BufWinEnter is triggered.

[2015-12-17 13:33] kopischke commented on #18
OK. My current thinking goes like this: sessions have higher priority than views, meaning that losing view state after a session load is expected behaviour. The only way _stay_ may interfere with this I would call a bug is if it resets view state **after** the session has loaded. I don’t have access to my machine today, so could I impose on you and ask you to check if the `BufWinEnter` event fires

[2015-12-17 14:39] Konfekt commented on #18
No, everything is fine and in order. It's just that checking for g:SessionLoad speeds up session restore by skipping restore view.

[2015-12-17 14:44] kopischke commented on #18
True. OTOH, we can only safely skip view restoration if `&viewoptions` is a subset of `&sessionoptions`, and I’m not sure how big the performance impact of that kind of test would be, compared with the double load we currently have…

**EDIT:** if this bothers you and you are certain the options duplicate restoration steps, you could set and unset `b:stay_ignore` in `SessionLoadPre` and `SessionLoa

[2015-12-17 17:26] kopischke commented on #12
Closed by https://github.com/kopischke/vim-stay/commit/ba35cbfe4a7ade99630ea9e0e7045991241ccb1a.

[2015-12-17 17:26] #12 closed

[2015-12-17 20:36] Konfekt commented on #12
Ok, hopefully everything works as expected.

[2015-12-17 20:39] Konfekt commented on #18
For a couple of bigger tex files with expression or syntax folds, it takes a few seconds longer to restore them. Probably a check of the sessionoptions and viewoptions variables considerably less. It's just a suggestion. I am fine by disabling folds in sessionoptions.

[2015-12-17 21:43] kopischke commented on #18
A couple of seconds? Yikes. Will investigate the test scenario, then…

[2015-12-18 11:00] kopischke commented on #18
I’ve just had a good look at `&sessionoptions` and `&viewoptions` and I think I have hit a snag. As it turns out sessions seem to never store cursor position (`cursor` is not an option), which means that suppressing view loading to avoid double fold state processing would mean losing cursor position. That looks like a rather problematic trade off to me, but maybe you have some insight on that to s

[2015-12-18 15:13] Konfekt commented on #18
I think that `cursor` is not opt-off, that is, a session reload will always restore the cursor position. That's what happens over here and `:h mksession` says

[code]

[2015-12-18 15:31] kopischke commented on #18
… hmm, so that looks like _stay_ could just skip view loading if `&sessionoptions` contains “folds”.

[2015-12-18 16:07] Konfekt commented on #18
That's the idea and what FastFold does at

https://github.com/Konfekt/FastFold/blob/master/plugin/fastfold.vim#L70

[2015-12-19 10:03] kopischke commented on #13
@blueyed this has landed in https://github.com/kopischke/vim-stay/commit/1a9c0a4b99eaeec32de34823e970da2693644cc4, scheduled for the next release provided it works as expected. Could you give the [feature/checktime](https://github.com/kopischke/vim-stay/tree/feature/checktime) branch a whirl?

[2015-12-19 10:11] kopischke commented on #18
@Konfekt added in https://github.com/kopischke/vim-stay/commit/4235f428a4440645c18dc642eb31522a18e65a05. Could you take the [fix/real-sessionload](https://github.com/kopischke/vim-stay/tree/fix/real-sessionload) branch for a test ride?

[2015-12-19 13:26] Konfekt commented on #18
Hmm.. Checked it but with the SessionLoad of CtrlSpace it still takes noticeably longer.

[2015-12-19 13:31] kopischke commented on #18
Hmm, could you report the output of

[code]

[2015-12-19 14:29] blueyed commented on #13
No, it does not help.

TEST CASE:
1. open foo.txt with multiple lines (1, 2, 3) in two windows
2. place the cursor on line 2 in the first one window, line 3 in the second
3. append to the file from outside of Vim (`echo 4 >> foo.txt`)
4. call `:checktime` in Vim

Vim asks me to load the changed file, and afterwards the cursor is moved to the first line in the non-active window.

`FileChangedShellP

[2015-12-19 15:12] kopischke commented on #13
I was afraid of that … seems `FileChangedShellPost` is only triggered for the active window. Hmm, that is fixable, but not as easily as I thought (_stay_ would have to iterate through all windows on that event).

[2015-12-19 15:38] blueyed commented on #13
This might be helpful: https://github.com/blueyed/dotfiles/blob/3fc74ce43d828fc1e2233c25016ce486fc673c62/vimrc#L3262-L3272

[2015-12-19 15:41] kopischke commented on #13
Thanks for the link. Actually, the `view#(load|make)` functions already support targeting arbitrary windows, so that part is covered.

[2015-12-19 16:37] kopischke commented on #13
Thinking about the example you provided, if strikes me that your issue cannot be solved using view session files. Thought these are presented as scoped to the window, they are in fact bound to the specific file (there is at most one view session file per loaded file). Reloading a view in the case you described would reset all splits to the settings of the first split.

The `"` marks works on the s

[2015-12-19 17:02] Konfekt commented on #18
`-1`

[2015-12-19 17:10] kopischke commented on #18
Argh, yes, I forgot something … how about

[code]

[2015-12-19 17:25] Konfekt commented on #18
`2`

[2015-12-19 21:50] kopischke commented on #18
Gotcha – will correct that.

[2015-12-19 22:31] kopischke commented on #18
Try the branch again, please.

[2015-12-20 10:42] Konfekt commented on #18
Everything seems good.

[2015-12-20 11:11] kopischke commented on #18
Good to know, thanks. Will be in the next release, then.

[2015-12-20 11:20] kopischke commented on #13
Tentative solution:
1. do `winsaveview()` on top of writing a view session file every time a view is saved
2. cycle through splits with the same buffer on `FileChangedShellPost` and `winrestview()` each

@blueyed any remarks?

[2015-12-20 15:31] blueyed commented on #13
Seems good!

[2016-03-01 11:30] amerlyq opened #24 "View session state intermittently gets out of sync with view"
Sometimes I modify files when viewing/filtering -- like retab, etc.
After that I undo all changes (in some cases -- undo only after reopening file).
But `vim-stay` keeps my previous view modifications, which in unwanted behaviour.
We have only general `:CleanViewdir` command to clear all at once, but I have only one bad view.
Therefore it's needed to go into far-far-away path, search in `>1000` fi

[2016-03-01 20:07] kopischke commented on #24
I must admit to not seeing the need for “clearing” view state for a file, as a simple `:mkview` will update the view state at any given moment; I may be overlooking something, however, so feel free to elucidate. Either way, I would be interested in hearing how _stay_ managed to run afoul of your actual view state, as that is the one thing that is never meant to happen.

[2016-03-03 15:39] kopischke opened #26 "Check for sourcing of view session files is too naive"
As the Investigation into the root cause of #25 showed, recognising the sourcing of a view session file fails when `viewdir` is set to `/view//`; other corner cases may lurk in the quirks of Vim’s settings directory syntax. In such cases, `b:stay_loaded_view` is never set and `SessionLoadPost` fails to fire.

[2016-03-03 16:00] Konfekt commented on #26
Exatamente. Allow for the double slash // at the end of viewdir. This is simple to fix though.

[2016-03-03 18:20] kopischke commented on #26
@Konfekt my Vimdoc fu is a bit weak today … could you remind me what the double slash is meant to indicate?

[2016-03-03 20:03] Konfekt commented on #26
It is :help 'directory'. Every view file is stored with the attached file path as a name.

[2016-03-03 20:15] kopischke commented on #26
Ah, now I know why I didn't expect this: that particular option is meaningless for view session files, as `viewdir` is a single directory name and session files **always** have the path in their name… Be that as it may, I will see that I account for that (and similar) cases.

[2016-03-03 20:45] Konfekt commented on #26
Ok, didn't know that. Removed all the superfluous double slashes and everything's working fine. Solved for my part.

[2016-03-08 18:18] amerlyq commented on #24
I can't exactly reproduce intermitten behaviour intentionally.
Therefore, lets this issue be opened until I catch such things again to note exact case.
Now I only know it has something to do with `set ft=...`, reindenting, `:e` and modelines. Plus sometimes `ft` empty for zsh/cpp if opening them as second file -- until I manually delete view.

[2016-03-08 19:09] kopischke commented on #24
I see. Does just refreshing the view by doing

[code]

help?

By all means – I‘d love to get to the bottom of this.

[2016-03-08 20:31] amerlyq commented on #24
I will try refresh view by your command when got another bug.

Also, I remember one more case -- for not keeping `:lcd` -- when I open more files in same vim session, they load their relative paths. But when I reset them manually and reload files again, new values not kept.
Of course this bug is also intermitten. Therefore wait until I could reproduce it.

[2016-03-25 18:07] blueyed commented on #10
You could have a version / patch check for this - if it's known which version is required.

For what it's worth, I am not getting a `lcd` in the view file with recent versions of vim/neovim.

For older versions it might be even possible to remove it, based on `haslocaldir()` (which might need a check to be available though also).

[2016-03-25 18:30] kopischke commented on #10
@blueyed the whole local working directory issue is some thing I am still mulling possible solutions over. One thing I want to avoid is adding features that only work in certain Vim versions and patch levels. A consistent set of features for all versions of Vim _stay_ supports is a design priority of mine, hence the statement you quoted above.

[2016-03-26 21:11] amerlyq commented on #24
Detected one case of keeping wrong filetype for buffer:
- Vim crashed with some buffer.
- You opened another file (essential), then trying to open previously crashed one.
  `:e path/to/crashed/file`
- In menu you choose Abort, then trying to open file again
- Now in menu you chooses ReadOnly.
- = Filetype is blank
- After closing buffer and reopening ReadOnly (w/o Abort) filetype is kept blank --

[2016-04-03 12:23] kopischke opened #27 "Activates wrong window of multiple buffer windows"
_stay_ will always jump back to the first (numerically lowest) window displaying a buffer when a window is closed, instead of the last window that was active. This causes issues like:
- https://github.com/junegunn/fzf/issues/532
- https://github.com/junegunn/fzf.vim/issues/105

The root cause is naive usage of `bufwinnr()` to get the window number to jump to.

[2016-04-04 16:04] amerlyq commented on #24
Second case -- not keeping manually setted pwd.
- Open two buffers (each must have already saved/generated view before that)
- If you switch between buffers -- pwd will be switched accordingly to saved values.
- Then in one buffer do `cd /som/path`
- Switch to another one and back.
- Now both buffers in current session has pwd from second buffer.
  New pwd for first one is lost (as lost its own sa

[2016-04-07 13:10] zhimsel commented on #27
@kopischke Looks like the `fix/winjump` branch fixes the issue. Thanks!

[2016-04-07 13:20] kopischke commented on #27
Good to know, thanks for testing. The release is almost ready (this morning, I would have left out the “almost”, but something new turned up at the last second).

[2016-04-07 13:24] zhimsel commented on #27
No problem, thanks for fixing it :)

[2016-04-15 00:55] amerlyq commented on #24
Third case -- involves default usage.
I have found the most frustraiting case, which forced me to create current issue and wish the command to remove current view. Please, try to check and confirm it -- if it possible at all to be fixed in current implementation of `vim-stay`.
- `cd /tmp && conky -C > cfg`  create some file which has modeline (use anything but vim).
- Open created `cfg` in vim. Fi

[2016-04-16 23:12] kopischke commented on #13
@blueyed I think I might have a solution for this, using Vim’s ability to save up to 9 extra view session files per buffer. Could you give the [feature/extend-scope](https://github.com/kopischke/vim-stay/tree/feature/extend-scope) branch a test run? Its interaction with `&autoread` is a bit hacky (it basically overrides it on a per-buffer basis), so I am hesitant to pull the trigger on this yet.

[2016-04-16 23:19] kopischke commented on #27
@zhimsel the fix in that branch actually didn’t do what I thought it did (the improvement you observed was incidental to me removing `BufLeave` from the event list, not anything else). I have since refactored the whole event and window selection logic and would be very glad if you could take a look at the [release/1.4.0](https://github.com/kopischke/vim-stay/tree/release/1.4.0) branch; in my testi

[2016-04-16 23:37] kopischke commented on #24
OK, so I’m not sure how to reproduce the crashed file recovery issue and I am unable to reproduce the `cd` bug you described both on master and on [the current release candidate](https://github.com/kopischke/vim-stay/tree/release/1.4.0) branch. As to your last report, unless you changed the defaults, `/tmp` should be in `&backupskip`, meaning _vim-stay_ will leave the file alone (no view session f

[2016-04-17 14:37] kopischke opened #28 "View session files override modelines"
We fire `SessionLoadPost` without evaluating modelines, which leads to stale settings from a previously saved view session file taking precedence over modeline values added or removed after the saving of the view. As the view uses the actual setting state of the buffer, the modeline values will not be stored in subsequent saves of the view session either.

This is one of the causes of  the “out of

[2016-04-17 14:40] kopischke commented on #24
@amerlyq Looking a bit more into the last of your reported cases, and quite independently of the fact that files in `/tmp` should never save a view, you are correct in diagnosing that stale settings from a view session file will override new modeline settings – this is now tracked in #28. Do any of the other issues have anything to do with modelines too, perchance?

[2016-04-18 17:15] zhimsel commented on #27
@kopischke Just switched to the `release/1.4.0` branch, and it introduces a new error when creating a new view (creating new windows, switching between them, etc):

[code]

[2016-04-18 17:26] zhimsel commented on #27
It's not present in `master` or `fix/winjump`

[2016-04-18 17:28] kopischke commented on #27
@zhimsel ugh, yeah, sorry about that, I fixed that error in another feature branch and forgot to include that fix. As a quick hack, you can just add the following line

[code]

before [line 45 of plugin/stay.vim](https://github.com/kopischke/vim-stay/blob/release/1.4.0/plugin/stay.vim#L45). I’ll see that I push the complete fix later.

[2016-04-18 20:46] kopischke commented on #27
@zhimsel I just pushed an update to the release branch.

[2016-04-19 19:54] zhimsel commented on #27
@kopischke when working on c3d0d6a (as of now, `release/1.4.0/HEAD`), I now get the following error:

[code]

This happens with or without adding the line you mentioned above before line 45 (or after, for that matter). For clarity, I would be applying this diff:

[code]

---

As an aside, I would highly discourage the use of force-pushing to a collaborative git repository. I would recommend readin

[2016-04-19 20:25] kopischke commented on #27
Argh (again), yes, I forgot `getbufvar()` returns an empty String when the variable is undefined, so you get a type mismatch assigning a Dictionary; ~~vagaries of fast iteration on my side – stuff tends to remain in my Vim session longer than it should~~ _turns out [Vim patch 1547 removed sticky type checking](https://github.com/vim/vim/commit/f6f32c38bf3319144a84a01a154c8c91939e7acf), which is wh

[2016-04-19 20:51] kopischke commented on #27
@zhimsel patch to apply:

[code]

[2016-04-19 21:20] eapache commented on #27
Could this also be the cause of https://github.com/vim-airline/vim-airline/issues/1131 ?

edit: I just tried `release/1.4.0` branch against that bug and there's no change; I'll file a separate issue if you want

[2016-04-19 21:45] kopischke commented on #27
@eapache yes, please do so. The current issue would manifest itself by landing you in the wrong window when closing another one; if I read your issue description correctly, that is not the case for https://github.com/vim-airline/vim-airline/issues/1131.

[2016-04-20 06:17] kopischke commented on #27
@eapache if I could bother you to create an issue soonish, that would be really helpful. Sorry to be pushy, but I’d love to get the next release out soon as the current issue is a rather serious bug, and I cannot reproduce your issue report on https://github.com/vim-airline/vim-airline/issues/1131 (I just up end having no window at all; I suppose some of your settings are different from mine, and

[2016-04-20 12:25] eapache opened #29 "Focus gets confused, ends up with no split focused"
Twin bug to https://github.com/vim-airline/vim-airline/issues/1131 as I'm still not sure which plugin is the actual culprit; they only seem to misbehave when together.

[2016-04-20 12:27] eapache commented on #27
No worries, created #29. Don't hold the release on my account though, it's been happening for a while so there's no regression.

[2016-04-20 12:30] eapache commented on #29
This is reproducible for me with just vim-stay and vim-airline installed, no vimrc except the pathogen line, and a clean view folder, so I don't think there are any special settings involved? When I get to my proper computer I'll post the full build features of vim just in case.

[2016-04-20 12:50] kopischke commented on #29
@eapache thanks for posting the issue here. As [I said](https://github.com/kopischke/vim-stay/issues/27#issuecomment-212277447), my problem reproducing is that if I follow your steps literally, I end up having no open windows at all, so it seems I am missing something altogether. The output of `:version` would be quite useful, as [I have failed to notice issues due to fixes in one of the recent 80

[2016-04-20 13:47] eapache commented on #29
Full version:

[code]

I'm not sure how those steps could leave you with no window at all; you should have two splits open when you run the final `:bd` and there's no reason I can think of for `:bd` to close _multiple_ splits at once.

[2016-04-20 14:26] kopischke commented on #29
Isn’t that the expected behaviour when multiple windows (splits) show the same buffer?

[2016-04-20 14:28] eapache commented on #29
Not when there is another buffer in the background on the second split; the second split should (and does, for me) switch to showing the other buffer.

[2016-04-20 16:34] zhimsel commented on #27
@kopischke that patch above (when applied to `release/1.4.0/HEAD`) resolves the issue, as far as I can tell.

[2016-04-20 16:39] zhimsel commented on #27
Although, I'm not sure if it's related, I'm getting this error sometimes when opening a file for the first time (it doesn't present if I quit and open the file again):

[code]

[2016-04-20 16:44] kopischke commented on #27
That last error is unrelated, but thanks for reporting it!

[2016-04-20 18:17] kopischke commented on #29
@eapache you are correct about the window behaviour, of course, I must not have followed your steps closely enough. Good news is I was able to reproduce the issue and I am pretty sure I have pinpointed the cause, but to confirm could you please tell me the output of `:echo &viewoptions`?

[2016-04-20 18:18] kopischke commented on #24
@amerlyq could you please tell me the output of `:echo &viewoptions`? Thanks!

[2016-04-20 18:34] eapache commented on #29
`folds,options,cursor`

[2016-04-20 18:44] kopischke commented on #29
These are the Vim defaults – thank you, you just confirmed my diagnosis. To make a long story short, the issue is with `options`: with that flag in `&viewoptions`, view session files will store **all** local options, including `&statusline`, which confuses _airline_ after loading a view session file (I haven’t investigated in detail, but something like

[code]

might mitigate the issue).

I have r

[2016-04-20 18:48] eapache commented on #29
So basically vim-stay was loading/restoring status-line values (since that's the default for mkview) which was confusing airline by changing its settings out from under it?

[2016-04-20 18:50] kopischke commented on #29
That’s the gist of it, yes.

[2016-04-21 02:41] amerlyq commented on #24
As requested: `cursor,folds,localoptions,slash,unix`.
I will try to elaborate 1st and 2nd cases on most default nvim to reproduce more easily.

[2016-04-21 06:08] kopischke commented on #24
Thanks, I guessed so: including `(local)options` in `&viewoptions` causes a lot of unexpected and hard to track issues with view session files created with that setting (see #29). Please add

[code]

to your .vimrc or nvim init file and nuke your view directory by doing `:CleanViewDir` so we can be sure any issues that crop up are not related to that option.

[2016-04-21 06:15] kopischke commented on #27
@zhimsel I have pushed an update to the branch and I would be very grateful if you gave it a test ride.

[2016-04-21 18:19] zhimsel commented on #27
Works for me!

[2016-04-21 18:19] zhimsel commented on #27
Thanks for fixing this, by the way. It was driving me nuts before.

[2016-04-21 18:26] kopischke commented on #27
My pleasure. _vim-stay_ is meant to be the kind of plug-in you never notice – until you work with a Vim instance that lacks it, that is. Should you run into other issues in the future, do not hesitate to report them here!

[2016-04-21 18:32] eapache commented on #29
Thanks, the 1.4 release branch fixes this nicely.

[2016-04-21 18:40] zhimsel commented on #27
Will do, thanks! Would you mind shooting a notification message here when
1.4.0 is merged? I'd like to switch back to master once it is.

##

Zach Himsel
zach@himsel.net
http://zach.himsel.net

On Thu, Apr 21, 2016 at 12:26 PM, Martin Kopischke <notifications@github.com

[2016-04-21 18:59] kopischke commented on #27
Of course, will do!

[2016-04-21 19:01] kopischke commented on #29
Reopening until merged into master.

[2016-04-24 11:41] blueyed commented on #11
JFI: Neovim has tab local directories now additionally: https://github.com/neovim/neovim/commit/5ebffaae4e6c08630b705b5994a509a08cbecce6

[2016-04-24 17:03] kopischke commented on #11
Thanks, but I was aware of that, [having been part of the discussion that led to the feature](https://github.com/neovim/neovim/pull/3229) ;). Unluckily, neither that feature nor [Vim’s recent `getcwd()` patch](https://github.com/vim/vim/commit/c970330676eaae7ba7cd05cfa46df5a413853ef9) affect my previous arguments much. I have been pondering a different approach for a while now, and might integrate

[2016-07-13 17:54] choco opened #30 "Error when opening a file (v1.4.0)"
Hi, I was testing the 1.4.1 release branch and sometimes I'm getting this error when opening a file.

![untitled](https://cloud.githubusercontent.com/assets/85527/16813772/5b7c48bc-4933-11e6-8ecb-31a95c7566fb.png)

Sorry for reporting issues on a unreleased version, but some of the bug fix included in that are really useful for me!

[2016-07-13 18:24] kopischke commented on #30
Thanks for reporting this: I can see where the issue is and will fix as soon as I have some time to get back to _stay_. If you need a quick fix,  you can change [this line](https://github.com/kopischke/vim-stay/blob/release/1.4.0/autoload/stay/view.vim#L110) to:

[code]

_EDITED as per [@ntcong’s amendment](https://github.com/kopischke/vim-stay/issues/30#issuecomment-236792477)._

[2016-08-02 04:15] ntcong commented on #30
if anyone watching this, the quick fix should be

[code]

[2016-08-13 09:47] blueyed commented on #19
Would be nice to have the fix for this releases - I've ran into this issue a few times already.

[2016-08-19 22:39] zhimsel opened #31 "vim-stay in neovim produces E484 error when opening new file"
If I open a file that doesn't already have a viewdir file (i.e. that vim-stay has not seen before), it produces an error stating that it can't open that file. This is expected, since it doesn't exist until the buffer is saved, and the viewdir file is created.

For example. I created a blank file, `/tmp/test_file`, and after confirming that there is no viewdir file for it already (clearing the view

[2016-09-27 10:42] Konfekt opened #32 "view files for files in &backupskip"
With

[code]

vim-stay still creates a view file for the file `/tmp/mutt-linux-5msm-1000-2981-5594735571973679250`, that is there is a file

[code]

This happens von Vim 8.03 compiled with +wildignore and with glob2regpat() available.

[2016-11-30 19:03] blueyed commented on #13
Just tried the feature/extend-scope branch.

First there was this error:
[code]
caused by:
[code]

But it was gone when restarting Vim (and a (new?) view file has been created probably).

The branch appears to fix the issue (from the TEST CASE above), but threw an error before Vim asked to reload the file:
[code]

When trying it later again, I only got (the clean) "vim-stay error E811: Not allowed

[2016-11-30 21:18] blueyed commented on #13
This patch helps for the first issue in the previous comment:

[code]

[2017-05-08 13:36] Konfekt opened #34 "Error when using BufStayLoadPost autocmd"
With `.vimrc` as
[code]
there appears the error message
[code]

[2017-05-08 20:14] kopischke commented on #34
Which versions of Vim and of _stay_ are you using?

[2017-05-08 21:17] Konfekt commented on #34
Commit `89e5a31fcdfd39774945e61144f0022977f13365` and VIM - Vi IMproved 8.0 (2016 Sep 12)
Included patches: 1-566.

[2017-05-09 09:45] kopischke commented on #34
That would be 1.3.1 then. Colour me surprised, as _stay_ doesn't touch Vim marks. Guessing wildly: does this only happen when there is no window visible or buffer loaded yet?

[2017-05-09 11:35] Konfekt commented on #34
No, sorry, on every `:e file` it shows.

[2017-05-09 13:00] kopischke commented on #34
K, will try to repro.

[2017-07-29 19:19] Flurrywinde opened #35 "Slight incompatibility with Vimwiki plugin"
Vimwiki maps `<cr>`, backspace, etc to its own functions, but it allows you to override this behavior by using `hasmapto`. (EDIT: What I mean is the vimwiki.vim script uses `hasmapto`, not that the user himself uses it, in case that wasn't clear.) If hasmapto sees that a mapping already exists (like if you mapped `<cr>` to something else in your .vimrc), then it won't commandeer it.

However, for

[2017-07-31 08:19] kopischke commented on #35
That sounds both very annoying and somewhat puzzling, as ~the only mapping _vim-stay_ ever comes near to is `gf`~_vim-stay_ never maps anything. Could you point me to the Vimviki repo so I can take a peek at its code?

[2017-07-31 19:56] Flurrywinde commented on #35
https://github.com/vimwiki/vimwiki

And here's the link to my issue about this over there: https://github.com/vimwiki/vimwiki/issues/341

Note: In my original post, I didn't put put `<cr>` in backticks, so it wasn't showing up. Going to fix this now.

[2017-07-31 21:11] kopischke commented on #35
This is most unlikely to be due to mapping conflicts as _vim-stay_ doesn’t touch mappings (I was thinking of _vim-fetch_ when I stated otherwise above). I’ll have a look at the _vimviki_ source and see if I can find anything…

[2017-07-31 21:20] kopischke commented on #35
@Flurrywinde could you tell me what your `viewoptions` are set to (`echo &viewoptions`)?

[2017-08-01 00:43] Flurrywinde commented on #35
`folds,options,cursor`

[2017-08-01 07:30] kopischke commented on #35
Tentatively, I would say the inclusion of `options` is the culprit. To test this, please

1. Set `viewoptions` to the recommended default in your vimrc: `set viewoptions=cursor,folds,slash,unix`.
2. Nuke your view state with `:CleanViewdir!`.
3. Restart Vim and check a Vimviki file for mapping behaviour.

[2017-08-01 16:18] Flurrywinde commented on #35
This worked. I guess I must have somehow missed the `viewoptions` recommended default when I installed vim-stay. Sorry about that! Thanks so much for the help.

[2017-08-01 16:32] kopischke commented on #35
Storing options in the file state causes no end of hurt, and yeah, you are not the first user not to mind the defaults ;). I have an update for _vim-stay_ on the back burner that will mandatorily remove `options` when saving views, but I have no idea when I will get around to finalize that (life has found ways to keep me from coding for quite a while).

[2017-08-01 16:32] #35 closed

[2017-09-28 23:19] zhimsel commented on #31
Any updates on this? Still happening on latest master. Can I be of any help?

[2017-09-29 08:15] kopischke commented on #31
I have a fix for that in the [release/1.4.0](https://github.com/kopischke/vim-stay/tree/release/1.4.0) branch – you could give it a whirl. However, at this point, I cannot in good conscience give an ETA for that branch to be merged into master.

[2017-09-29 21:48] zhimsel commented on #31
Great, thanks! I'll test out that branch.

Totally understandable.

[2017-09-29 21:55] zhimsel commented on #31
Huh... Didn't realize I was [already using the `release/1.4.0` branch](https://github.com/zhimsel/dotfiles/blob/b92e3242104b53bbc398f6485a8f424220b8f7ff/vim/vimrc#L52):
https://github.com/kopischke/vim-stay/compare/release/1.4.0...zhimsel:master

Could you point me to the commit that fixes this issue?

[2017-09-30 00:20] kopischke commented on #31
My bad, looks like I never pushed that yet …

[2017-10-11 18:39] blueyed commented on #10
@kopischke
Any update on this?
As for the workaround above, it should take into account and prefer `:tcd` over `:cd` I guess if it exists?!

[2017-10-11 18:41] blueyed commented on #10
What about removing the `lcd` from the mkview in the first place (by rewriting it)?! (if `haslocaldir()` is false)

[2017-10-11 19:01] kopischke commented on #10
@blueyed absolutely none; as you probably have noticed, development of my plugins has been dormant for quite a while now, mostly because life has left me precious little time for dev work these last two years. Sorry for that.

For what it’s worth, I will add that even should I find time to pick up development again, I still probably would not go the rewriting route: keeping the breakage potential

[2017-10-14 14:15] blueyed commented on #10
Understood.
FWIW the following makes the workaround work with Neovim:
[code]

[2017-11-06 02:31] tuyenpm9 opened #37 "Can't create view folder in C:\Program Files\Vim/vimfiles/view"
This should create in userhome directory instead, I use gvim 8 / 1-1214 on windows.
image [here](https://imgur.com/a/I8BgT)

[2017-11-06 23:31] kopischke commented on #37
_vim-stay_ doesn’t decide where Vim puts viewfiles, that is a function of your `viewdir` setting. According to the Vim help, the default on Windows is `$VIM/vimfiles/view`, so I would hazard the guess your `$VIM` value is incorrect (or maybe unset?).

[2017-11-06 23:31] #37 closed

[2017-11-13 10:41] doronbehar opened #38 "Add command or option to `:CleanViewdir`'s only nonexisting files."
Would it be possible to add a command or an option to the existing command `:CleanViewdir` that will delete only the view files which do not exist in the file-system? That will help users to clean their view dir from the garbage that may clutter there after a long time usage.

[2017-11-13 15:31] kopischke commented on #38
Actually, that is something I planned to do when I originally implemented `CleanViewDir`. The problem with that – and the reason it is not implemented – is that the way Vim maps a file name to a view file name is an internal implementation detail the plugin cannot query. Recreating that mapping by hand would be time consuming (I’d need to verify the implementation on every platform Vim runs on), e

[2017-11-13 15:31] #38 closed

[2017-11-26 20:07] doronbehar commented on #38
What do you think about [this script](https://gist.github.com/doronbehar/69e961d40f386d303bc3b6b732349a50)? It is just a draft, I can make a PR if you think the script if good and safe enough for you to distribute under your name..

[2018-04-14 00:12] zhimsel commented on #31
Hey, any chance of getting that fix pushed to the `release/1.4.0` branch?

[2018-05-12 14:50] kopischke commented on #31
The honest answer is no: I have come to the point I had to admit to myself that, as far as I’m concerned, my Vim plug-ins are EOL. I don’t do much coding anymore, and when I do, I barely ever use Vim or its derivatives (heresy, I know). [My _vim-fetch_ plug-in has found a new maintainer in the person of Wang Shidong](https://github.com/wsdjeg/vim-fetch), and I would gladly divest myself of _vim-st

[2018-05-18 00:06] zhimsel commented on #31
Hm. I mean, I wouldn't necessarily be opposed to it, but I don't know vimscript well enough (or your codebase here) to be confident in my ability. I'd have to take a good look through the whole of `vim-stay` before I'd say yes.

[2018-05-18 00:07] zhimsel commented on #31
If you wouldn't mind giving me a brief walkthrough of the code, I'm a quick learner and probably would be able to pick it up easily.

[2018-05-18 08:36] kopischke commented on #31
I’ll gladly do that; we have a three day weekend upcoming in Germany, so I should find the time to do it, especially considering _vim-stay_ is not a very complex plug-in (it’s essentially a wrapper around `mkview` and `loadview` that irons out the kinks and idiosyncrasies of those two commands).

[2018-05-18 16:33] zhimsel commented on #31
If it's this coming weekend, I should be able to find some time to link up. Shoot me an email at zach@himsel.net and we can coordinate that.

[2018-05-31 17:42] alphaCTzo7G opened #41 "Does this plugin automatically clear out views beyond a certain date"
The `restore_view.vim` plugin doesn't automatically clear views as a result the view folder grows in size. At some point or other its starts causing problems. For example.. I started having problems with `buffexplorer` because I had a large view folder.

It seems there is no development on the `restore_view` plugin. Last commit was in 2014/5: https://github.com/vim-scripts/restore_view.vim, https:

[2018-05-31 19:02] zhimsel commented on #41
Hey! As far as I'm aware (I'm the new maintainer for this repo and not 100% familiar with the code yet), there is no automatic cleanup functionality. There is, however, [a function to _manually_ clean the viewdir](https://github.com/zhimsel/vim-stay/blob/5ce6dd2/autoload/stay/viewdir.vim#L10-L23). You can likely set up an `autocmd` to do this automatically (though I'm not sure if vim can do `au`s

[2018-06-01 18:48] kopischke commented on #41
Zach is correct on both counts (hi, former maintainer here): there is a command for nuking your `viewdir`, but nothing fine grained or automatic, for the simple reason I never found a reliable cross platform way (`sh` command scripts do not work on Windows, mostly). You might find the script linked to in #38 of interest if you are on a \*nix system.

Also, stay uses only what Vim calls “view sessi

[2018-07-18 18:56] #14 closed

[2018-07-18 18:56] #11 closed

[2018-07-18 18:56] #18 closed

[2018-07-18 18:56] #19 closed

[2018-07-18 18:56] #26 closed

[2018-07-18 18:56] #27 closed

[2018-07-18 18:56] #28 closed

[2018-07-18 18:56] #30 closed

[2018-07-18 19:07] zhimsel commented on #41
I'm gonna close this for now. If you have any further questions, feel free to comment and/or reopen.

[2018-07-18 19:07] #41 closed

[2018-07-18 20:17] eapache opened #42 ""vim-stay could not read the view session file" for new files"
This is a regression today after upgrading to 1.4.0 of the plugin.

When opening an existing file that hasn't been opened before, or after clearing your view directory:
[code]

It doesn't seem to affect functionality, it's just annoying. It's gone subsequent openings of the file once the view file actually exists.

This is in Neovim from Homebrew on OSX:
[code]

[2018-07-18 20:22] eapache commented on #42
An ad-hoc bisect seems to point the finger at one of 8b9b2f8, aa413be, or 09100db.

[2018-07-18 20:41] zhimsel commented on #42
Hm. What branch/commit were you on prior to this happening? `master` (and therefore v1.3.1)? or were you using the `release/1.4.0` branch?

[2018-07-18 20:42] eapache commented on #42
Master of the repo under the old owner (1.3.1). I only found out this was maintained again when I got the email for https://github.com/zhimsel/vim-stay/issues/29 closing.

[2018-07-18 20:44] zhimsel commented on #42
This is the same issue I was having on the `release/1.4.0` before I took over maintainership and merged it: https://github.com/zhimsel/vim-stay/issues/31

I'll close that issue as this one is more concise.

@kopischke you mentioned in #31 that you had a fix for that, but you never pushed it... would you be able to send me over a patch? or push it to a branch here?

I'll see if I can fix this in th

[2018-07-18 20:47] #31 closed

[2018-07-18 21:04] zhimsel commented on #42
@eapache you can use the [`hotfix/view-load-error`](https://github.com/zhimsel/vim-stay/compare/hotfix/view-load-error) branch for now to suppress the error message until I'm able to fix the root cause.

[2018-07-19 13:06] Konfekt commented on #32
This is perhaps solved by https://github.com/zhimsel/vim-stay/pull/33 ?

[2018-07-19 20:59] zhimsel commented on #32
Correct! Thanks!

[2018-07-19 20:59] #32 closed

[2018-07-20 23:49] alphaCTzo7G commented on #41
@zhimsel , @kopischke .. appreciate it.. Sorry for the late reply. That pretty much solves it. I pretty much only use my `heavy VIM` config on my Ubuntu Workstation.. and no config for any other servers. So this works great..

[2018-07-23 06:50] blueyed commented on #42
Bisected it to aa413be, but not really useful I think.

This happens only in Neovim because of this commit: https://github.com/neovim/neovim/commit/9b1c93937 - Vim silently does nothing: https://github.com/vim/vim/blob/947b39e761b8a95cc1bd37ad0c2c30552238809a/src/ex_docmd.c#L11916.

This appears to be a compatibility issue between Neovim/Vim, and I agree with @elmart somethow that this should not

[2018-07-23 09:12] blueyed commented on #42
This appears to make sense for now:
[code]

[2018-07-24 16:59] StillStealSteel commented on #42
@zhimsel plans on fix this?

[2018-07-24 17:35] kopischke commented on #42
@zhimsel Sorry for the delayed response, and doubly sorry for saying I must have hosed that fix at some point; it’s not in my local repo anymore. However, @blueyed’s patch is more or less exactly what I remember implementing, so that should be fine.

That would be exceedingly difficult with the current codebase, as _vim-stay_ has zero notion of view session files as such; the whole view session sy

[2018-07-24 18:54] blueyed commented on #42
@kopischke
I've meant that `get_view_file` should be exposed by Vim, so that vim-stay could use it.. :)
It currently supports the current buffer only, but could be changed to handle a buffer name instead maybe (for #41 etc).
Code: https://github.com/vim/vim/blob/947b39e761b8a95cc1bd37ad0c2c30552238809a/src/ex_docmd.c#L11925

Thanks for all your great work! :)

[2018-07-24 19:12] zhimsel commented on #42
@eapache @blueyed can you take a look at the [`hotfix/view-load-error`](https://github.com/zhimsel/vim-stay/compare/hotfix/view-load-error) branch again? I just pushed [@blueyed's patch](https://github.com/zhimsel/vim-stay/commit/0c688e238e94fa16cdd4d8e83c5da443e4ab6af6
) to it and tested locally. Seems to work fine. If everything works on your ends, I'll add that into `master`.

@blueyed thanks f

[2018-07-26 12:12] eapache commented on #42
Seems to work for me. Thanks!

[2018-07-26 17:17] zhimsel commented on #42
Ok, great! I'll apply that patch into master shortly.

[2018-07-26 19:25] zhimsel commented on #34
@Konfekt is this still occurring on the current master branch?

[2018-07-26 19:26] zhimsel commented on #24
@amerlyq is this still an issue for you?

[2018-07-26 19:30] zhimsel opened #43 "Create tooling to automatically create new releases/versions"
Either through CI or manually on the commandline.

[2018-07-27 12:29] Konfekt commented on #34
No, it's fine. It might have been the global `vimrc` causing this.

[2018-07-27 12:51] eapache commented on #42
Hmm, now I'm getting `E227: mapping already exists for \d` instead. Not sure if it's strictly related to the fix for this or if it's just a different bug that's cropping up on master?

[2018-07-27 16:41] amerlyq commented on #24
Nope. Seems like can be closed. Thanks for ensuring ;)

On Thu, Jul 26, 2018, 22:26 Zach Himsel <notifications@github.com> wrote:

[2018-07-27 16:48] zhimsel commented on #42
@eapache under what conditions? Opening a file in vim that doesn't have a view file? What version of vim/neovim are you on?

And you're on vim-stay 1.4.1 right?

[2018-07-27 16:50] zhimsel commented on #24
Groovy, thanks. Just cleaning up all the open issues 😄

[2018-07-27 16:50] #24 closed

[2018-07-27 17:07] eapache commented on #42
Yes, same conditions and same neovim build as I originally filed at https://github.com/zhimsel/vim-stay/issues/42#issue-342476395. vim-stay 1.4.1 aka d69f611.

[2018-07-27 17:08] zhimsel commented on #42
Hm. Okay. Lemme do some testing and get back to you.

[2018-07-27 17:23] kopischke commented on #42
Err, I think I know what is going on: [the 1.4.1. patch](
https://github.com/zhimsel/vim-stay/commit/df3f12d57e0f7802d4c36dc7c93bd7a702c2da97) has clashed with the error handling logic. With Neovim, _stay_ 1.4.1’s `view#load` function returns -1 on `E484`, denoting an error, but does not set `v:errmsg`, which means the plug-in will happily signal a totally unrelated error (the one previously assig

[2018-07-27 17:27] zhimsel commented on #42
@eapache I'm not getting that error in my environment under those conditions. I even tested neovim 0.3.0 (I was on 0.3.1 previously).

@kopischke I see what you're saying. I'll write up a patch and put it in a branch for @eapache to test.

[2018-07-27 17:35] zhimsel commented on #42
@eapache can you test out the [`hotfix/viewload_nvim_error_2` branch](https://github.com/zhimsel/vim-stay/compare/hotfix/viewload_nvim_error_2) and let me know how that works in your env?

[2018-07-27 17:40] eapache commented on #42
Works properly, thanks!

[2018-07-27 20:39] #42 closed

[2019-01-22 20:00] zhimsel commented on #13
@blueyed hey, sorry to awaken a long-stale issue, but:

Is this still an ongoing issue on the current `master`?

[2019-02-04 15:39] skt041959 opened #46 "vim-stay error E867: (NFA) Unknown operator '\zh'"
Hi Developer,
When I use this plugin in Windows, I tend to get this error when opening files.

I tried to debug it, and comment out the `catch "other errors` block of `stay#view#load(winid)`, I get the following verbose output of vim:

[code]

The "zh" string is the starting of my username, so I think it's caused by the un-escape window path.
Would you please give it a fix ?

Thanks

[2019-02-04 17:46] zhimsel commented on #46
I don't use vim on Windows, so it'll be hard for me to test, but I can do what I can to look into it when I have the time. No promises, though.

I'm always happy to accept Pull Requests, if you'd like to take a stab at fixing this yourself, too.

[2019-02-06 14:06] kopischke commented on #46
Fixing this might be difficult as the cause is totally unclear: the offending regex exception seems to stem from this one off `SourcePre` autocommand: https://github.com/zhimsel/vim-stay/blob/287c80bf6f151a3561800db184610cf576b0374d/autoload/stay/view.vim#L79-L81

(Vim’s exception line numbers are function relative, if I remember correctly, one of the many things that drove me out of Vim hacking).

[2019-02-06 15:08] zhimsel commented on #46
I'm suspecting you're correct, @kopischke.

@skt041959 I'll leave this open in the meantime, but I can't guarantee I'll be able to fix this myself. I'd whole-heartedly welcome you debugging this and pushing a fix yourself.

----

For when I get some spare time to investigate this, I need to know some more about your environment:
1. What Windows version?
1. What vim/neovim/gvim version?
1. Could yo

[2019-02-06 18:00] kopischke commented on #46
I don’t have the option of doing so myself (what with not working with, or hacking on, Vim anymore), but thinking this through there is one thing you could try, @skt041959: change this line
https://github.com/zhimsel/vim-stay/blob/287c80bf6f151a3561800db184610cf576b0374d/autoload/stay/view.vim#L79

to

[code]

and see if it helps. If it does, @zhimsel would have to check if this patch  impacts ope

[2019-02-07 04:16] skt041959 commented on #46
@kopischke @zhimsel I'm glad to debug this with your suggestion.

For reproducing, I have tried this minimal vimrc, and the issue appears when opening a file with a view file to load.
[code]
Environment

1. Windows 10
2. Neovim version is 0.3.3. I will try with vim8 later to see whether it can be reproduced.
3. My username is `zhentao`

@kopischke I have tried your fix, it doesn't work.

Thanks

[2019-02-07 07:08] skt041959 commented on #46
I can reproduce this issue with vim-8.1.0877.

[2019-02-07 09:54] kopischke commented on #46
@skt041959 Just to make sure (because this is the only part of the `load` function where we use a path I can see): you modified the code of your copy of _stay_ and restarted Neovim, loading the modified plug-in? Oh, BTW, you don’t need to comment out parts of the code to see error messages, just set `g:stay_verbosity=1`.

[2019-02-07 14:07] skt041959 commented on #46
@kopischke

I did some experiments to replace the `l:pattern` with other strings

- `C:\\Users\\zhentao\\*test.txt*`  This won't trigger the error
- `C:\Users\zhentao\*test.txt*` This will trigger the error

I put a `verbose echo l:pattern` to output it with your fix, and get the second pattern.
I'm wondering why the `fnameescape()` didn't escape the backslashes ?

[2019-02-07 14:30] skt041959 commented on #46
@kopischke

The second pattern also can't trigger this SourcePre event, unless I replace with

- C:/Users/zhentao/test.txt

It works pretty well. That I think we need to replace all backslashes with slashes in the l:pattern

[2019-02-07 14:34] kopischke commented on #46
@skt041959 I think we are getting close to a solution. Could you tell me your `shellslash` and `isf` settings? And does the first pattern (with the escaped backslashes) trigger the `SourcePre` event?

[2019-02-07 14:42] skt041959 commented on #46
@kopischke

`isfname=@,48-57,/,\,.,-,_,+,,,#,$,%,{,},[,],:,@-@,!,~,=`
`noshellslash`

Sorry, I mean the first pattern can't trigger SourcePre event. The second pattern will trigger the E867 error.

[2019-02-07 15:05] kopischke commented on #46
⭐️ – I think I know what is going on: when designing _stay_ without access to a Windows Vim version, I assumed file name patterns in autocommands use platform conventions on Windows unless `shellslash` is set, so I added the `s:slash` function

https://github.com/zhimsel/vim-stay/blob/287c80bf6f151a3561800db184610cf576b0374d/autoload/stay/view.vim#L141-L149

and inserted a substitution step to nor

[2019-02-07 15:17] skt041959 commented on #46
@kopischke  Unfortunately, It doesn't work :(

[2019-02-07 15:22] skt041959 commented on #46
@kopischke
The following line works
[code]

[2019-02-07 15:27] skt041959 commented on #46
@kopischke  I tried `set shellslash`, it doesn't work :(

[2019-02-07 17:18] kopischke commented on #46
@skt041959 oh wow, that is a bug: that `g` should have been in there all along! I suspect the only reason this whole issue has gone unnoticed for so long is that the default `viewdir` path on Windows uses  slashes, not backslashes. I assume yours is somehow customised to result in a path with backslashes?

Anyway, the final word would be to patch line 75 to read

[code]

and to get rid of the now

[2019-02-07 19:31] zhimsel commented on #46
@kopischke that's fine with me! Thanks so much for taking such a deep look at this.

[2019-02-08 02:53] skt041959 commented on #46
@zhimsel I tested the branch, it works fine.

[2019-02-09 11:09] kopischke commented on #46
@skt041959 I’ve done a bit more thinking and it seems #47 is not ready for prime time yet. Would you mind doing a bit more testing for me? If yes, would you please:

1. Paste the output of `:echo &viewdir` on your system;
2. Paste the literal command your `viewdir` is set with, if any;
3. Change that to set it to a Windows path with a space inside (escaping the both the space and the path separato

[2019-02-12 09:43] skt041959 commented on #46
@kopischke Sorry for delay update.

- For nvim, the `viewdir` is `C:\Users\zhentao\AppData\Local\nvim-data\view`
- For vim8, the `viewdir` is `C:\Users\zhentao\scoop\apps\vim\current/vimfiles/view`, but this path doesn't exists even the function works. Seems the cursor location is stored in viminfo file.

I add following in the test vimrc/init.vim file
[code]
Now the `viewdir` is `C:/Users/zhentao

[2019-02-15 09:22] kopischke commented on #46
@skt041959 thanks for reporting this! The mix of slashes and backslashes is a bit surprising, but that can be handled too. I’ve added a commit to #47 to address this, please head over to the PR for details and instructions for testing.

[2019-02-15 09:45] kopischke opened #49 "Stay should not load view state when re-editing buffer in another window"
The original report by @fent in #45 read:

As stated [here](https://github.com/zhimsel/vim-stay/pull/45#issuecomment-463972942), the PR in the submitted form does not seem the correct way to address things; this issue seeks to pinpoint the cause of the error and to develop a less destructive approach.

[2019-02-15 09:51] kopischke commented on #49
@fent would you assist me in finding out what happens exactly, bearing with me if I ask stupid questions? When you speak of a “window”, what do you mean, exactly:

1. a Vim window as defined in the Vim help, i.e. what is known colloquially as a split;
2. or a Vim window from a window manager POV, i.e. a GUI or terminal muxer window?

[2019-02-17 22:28] fent commented on #49
When I speak of a window, I mean a vim spit window.

[2019-02-18 07:27] kopischke commented on #49
OK, thanks for that. Hmm, last time I looked, `BufWinEnter` did not trigger on simply entering a split. The Vim 8.1 help concurs (for what that is worth), stating that it fires:

My point is that though _stay_ **creates** a view whenever leaving a window (through `WinLeave`), it cannot by rights **load** one when you simply switch to an already open window (because `BufWinEnter` does not fire); I

[2019-02-18 16:07] fent commented on #49
Could be that the commands I'm using to switch back to the buffer are causing `BufWinEnter` to fire, even if the buffer is already loaded, and shown in another split.

These following 3 methods I used to switch back all reproduce the issue
- `:e#`
- `:b [name]`
- `:e [name]`

The docs for `BufWinEnter` do say that it's fired when a name is provided to the `:split` command, maybe this also applies

[2019-02-18 23:16] zhimsel commented on #2
Why was this reopened? Mis-click? 😄

[2019-02-18 23:16] #2 closed

[2019-02-18 23:29] zhimsel commented on #49
Hm. So I was able to reproduce the behavior with neovim `0.3.4` using a minimal vimrc (blank, except for loading `vim-stay`). I'm not sure what the best course of solution here is, but I'll dig into the code here to see if I can come up with anything.

[2019-02-18 23:38] zhimsel commented on #49
So, thinking about this more, I'm not sure that this _isn't_ desired behavior. Let's think about it this way: when you split the open buffer into 2 windows, it's creating a view port into that file for each window. However, there's still only one _buffer_. When you then switch one of those two windows to another buffer (by opening another file with `:e`), you're destroying it's view port.

As far

[2019-02-19 04:24] fent commented on #49
If I start vim without vim-stay, this behavior isn't reproduced. And I think it would be more expected from users that vim-stay persist state across windows, even multiple windows of the same buffer.

[2019-02-19 07:57] kopischke commented on #49
Well, the whole point of _stay_ is to add behaviour not present in Vim without it, so that is only natural.

Actually persisting different states for different windows is both impossible while using Vim view sessions (these map to the file loaded in a buffer, not to a window) and conceptually unsound (what window state do you want when you re-open a file in a fresh editing session; don’t say “the

[2019-02-19 18:57] kopischke commented on #2
Butterfingers. 🤗

[2019-02-20 04:01] fent commented on #49
After removing this autocmd, I'm still able to reproduce a slightly different error. Now, the view that was previously saved on the buffer is restored when switching back to it.

So for example
- I open `text1.txt` and vim-stay restores the cursor at the middle of the file
- Split
- Move to the end of the file
- Open another file
- Switch back to first file
- The cursor is restored to the middle o

[2019-02-20 08:28] kopischke commented on #49
Well, I guess we all know why `WinLeave` was there in the first place now. I’ll go ahead and declare this line of thinking abortive.

I am currently tending towards agreeing with Zach and declaring these “errors” expected behaviour: _stay_ is behaving both consistently with Vim’s (convoluted and not altogether intuitive) file handling model and in a technically correct way.

I still am with @fent

[2019-02-20 08:45] kopischke commented on #49
@fent I don’t want to give the impression I am dismissing your concerns lightly, but your usage pattern for buffer activation really is orthogonal to the plug-in’s declared intent, i.e. reliably restoring the last view state whenever a buffer is displayed in a buffer: on startup in any combination of splits and tabs, on unhiding, on cycling through with `:xdo` commands. Unluckily, there is no way

[2019-02-21 07:43] kopischke commented on #49
I might have an idea how to handle this, thanks to an insomniac night. Because it _is_ thanks to an insomniac night, I ’d like to run this by you both, @fent and @zhimsel.

It seems to me the issue of recognising when there is no need for a saved view state load can be reduced to 1. a buffer does not really enter a window, just technically, firing a misleading `BufWinEnter`, 2. the view state of t

[2019-02-21 22:53] fent commented on #49
How is this checked? "before" as in, before switching to a different buffer and then switching back?

[2019-02-22 08:47] kopischke commented on #49
My current thinking is to do that by setting a window scoped dictionary variable (`w:_stay`) whenever we write a view session file storing the buffer name and the window state at this point. We then compare the current values to that before we load a view session.

In your scenario, what would happen would be that:

1. You open file A in window 1. _stay_ loads its view session.
2. You open file A

[2019-02-22 09:41] kopischke commented on #49
And by that I mean not just in the scenario I laid out above, but also for alternative usage patterns, e.g. switching via window commands, switching via closing windows, hiding / unhiding buffers, loading from arglist, `:xdo` commands, loading multiple copies of a file on Vim start etc.

[2019-03-31 21:39] #46 closed

[2019-03-31 21:58] zhimsel commented on #49
Hm. I'm not opposed to the method @kopischke described above. That seems like a reasonable way of handling this behavior change without overtly affecting "normal" usage.

@fent I can't guarantee I'll be able to implement this any time soon (my work schedule is insane right now), so I'll happily review a PR if you wanted to write one. Otherwise, I'll do my best to write this up when I have time.

[2019-03-31 21:59] zhimsel commented on #13
Closing this due to lack of response. @blueyed feel free to re-open this if it's still an issue.

[2019-03-31 21:59] #13 closed

[2019-06-26 19:50] davidsierradz opened #50 "Should this plugin save the arglist?"
I have `set viewoptions=folds` (only folds) so didn't expected this.

Thanks

Edit: checking `:help :mkview`

[code]

also in `:help vim-stay-troubleshooting`

[code]

Sorry, another case of **rtfm**

[2019-06-26 19:57] #50 closed

[2021-06-29 03:04] jdsutherland commented on #10
Any updates on this? I was noticing unexpected directory changes happening and traced it to this plugin. I tried using @blueyed's fix for nvim but the issue seems to persist.

[2022-08-12 02:40] telotortium opened #51 "vim-stay breaks vim-fetch"
See https://github.com/wsdjeg/vim-fetch/issues/34

[2022-08-17 13:45] zhimsel commented on #51
Will happily review/accept PRs for this issue, if there's anything to be done on `vim-stay`'s side. If it needs to be addressed in `vim-fetch`, then this can be closed.